a:link {
    color: blue;
}
  
/* visited link */
a:visited {
    color: rgb(255, 255, 255);
}
/* mouse over link */
a:hover {
    color: rgb(255, 255, 255);
}
  
/* selected link */
a:active {
color: red;
}

/* page headings */
h1 {
    font-size: 65px;
    text-align: center;
    color:white;
}

h2 {
    font-size: 40px;
}

/* subheadings */
.subhead {
    color: red;
    font-size: 30px;
}

/* navbar */
#navbar {
    background-color: red;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: lightslategrey;
  }

  body {
    background-color: #333;
  }


  #info {
    color: white;
  }
  #main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#mainpic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#maintext {
    font-size: 18px;
    line-height: 1.6;
}
/* featured guest pics */
.featured {
    border-radius: 50%;
    width: 300px ;
    height: 300px;

}

/* other guest pics */
.otherguest {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

/* other guest name */
.title {
    font-size: 23px;
    font-weight: bold;
    color:white;
}

.eventpics {
    width: 550px;
    height: 350px;
}

/* remember to add media queries and css grids */   

/* viewports*/

/*smartphone*/
@media (max-width: 600px) {
    h1{
        font-size: 30px;

    }

    .subhead {
        font-size: 20px;
    }

    #navbar {
        background-color: darkgrey;
        font-size: 12px;
    }

    .title {
        font-size: 13px;
        font-weight: bold;
    }

    #maintext {
        font-size: 20px;
    }

    #mainpic {
        width: 200px;
        height: 100px;
    }


}

/*tablet*/
@media (min-width: 601px) and (max-width: 1024px) {
    h1{
        font-size: 40px;

    }

    .subhead {
        font-size: 27px;
    }

    #navbar {
        background-color: rgb(153, 70, 70);
        font-size: 16px;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    #maintext {
        font-size: 30px;
    }

    #mainpic {
        width: 300px;
        height: 200px;
    }
}

/*desktop*/
@media (min-width: 1025px) {
    h1{
        font-size: 50px;

    }

    .subhead {
        font-size: 33px;
    }

    #navbar {
        background-color: rgb(212, 66, 66);
        font-size: 20px;
    }

    .title {
        font-size: 25px;
        font-weight: bold;
    }

    #maintext {
        font-size: 40px;
    }

    #mainpic {
        width: 600px;
        height: 500px;
    }
}

#twb, #jlc, #tb{
    position: absolute;
    left: 350px;
    top: 365px;
    background-color: #f1f1f1;
    padding: 10px;
    color: black;
    border: red 2px dashed;
    display: none;
    font-size: 30px;
    box-sizing: border-box;
}

#ws, #sb, #vd, #th{
    position: absolute;
    left: 240px;
    top: 365px;
    background-color: #f1f1f1;
    padding: 10px;
    color: black;
    border: red 2px dashed;
    display: none;
    font-size: 20px;
    box-sizing: border-box;
}

#twb{
    top: 365px;
}

#jlc{
    top: 765px;
}

#tb{
    top: 1165px;
}

#ws{
    top: 1620px;
}

#sb{
    top: 1900px;
}

#vd{
    top: 2180px;
}

#th{
    top: 2480px;
}

#jlcevent, #twbevent, #qpevent, #tbevent, #hcevent {
    display: none;
}

input[type="button"], input[type="submit"] {
    background-color: white;
    color: black;
    border: 2px solid red; 
    transition-duration: 0.4s;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
    
}

input[type="button"]:hover {
    background-color: red;
    color: white;
}

/* add css grids for highlights*/
#highlights {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    padding: 10px;
}

.pic {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}