a:link {
    color: blue;
}
  
/* visited link */
a:visited {
    color: rgb(255, 255, 255);
}
/* mouse over link */
a:hover {
    color: rgb(255, 255, 255);
}
  
/* selected link */
a:active {
color: red;
}

/* page headings */
h1 {
    font-size: 65px;
}

/* subheadings */
.subhead {
    color: red;
    font-size: 30px;
}

/* navbar */
#navbar {
    background-color: red;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: none;
    padding: none;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: lightslategrey;
  }

/* featured guest pics */
.featured {
    border-radius: 50%;
    width: 300px ;
    height: 300px;

}

/* other guest pics */
.otherguest {
    border-radius: 8px;
    width: 130px;
    height: 100px;

}

/* other guest name */
.title {
    font-size: 20px;
    font-weight: bold;
}

.eventpics {
    width: 550px;
    height: 350px;
}

/* remember to add media queries and css grids 